<div class="row">
  <div class="col-md-3">
    <div class="btn btn-block btn-primary">
      <h2>Maquette <%= @semester.planned_student_hours.round %></h2>
    </div>
  </div>
  <div class="col-md-3">
    <div class="btn btn-block btn-primary">
      <h2>PPN <%= @semester.expected_student_hours.round %></h2>
    </div>
  </div>
  <div class="col-md-6">
    <div class="btn btn-block btn-<%= @semester.delta_student_hours < 0 ? 'danger' : 'success' %>">
      <h2>Delta <%= @semester.delta_student_hours.round %></h2>
    </div>
  </div>
</div>

<hr/>

<div id="semester-<%= @semester.id %>"></div></td>
<script type="text/javascript">
  $(function () {
    $('#semester-<%= @semester.id %>').highcharts({
        chart: { type: 'bar', height: 150 },
        title: null,
        xAxis: { categories: ['PPN', 'Planifié'], tickWidth: 0 },
        yAxis: { min: 0, title: null },
        tooltip: { backgroundColor: 'white', valueSuffix: ' heures' },
        plotOptions: { series: { stacking: 'normal', groupPadding: 0, dataLabels: { enabled: false } } },
        legend: { enabled: false },
        credits: { enabled: false },
        series: [
          { name: 'TP', data: [<%= @semester.student_hours_tp %>, <%= @semester.planned_student_hours_tp %>] },
          { name: 'TD', data: [<%= @semester.student_hours_td %>, <%= @semester.planned_student_hours_td %>] },
          { name: 'CM', data: [<%= @semester.student_hours_cm %>, <%= @semester.planned_student_hours_cm %>] }
          ]
    });
});
</script>

<hr/>

<h3><%= @semester.teaching_modules.count %> modules</h3>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Heures étudiant: Planifié / PPN</th>
      <th>Variation</th>
      <th>Récapitulatif</th>
      <th>Détail</th>
    </tr>
  </thead>
  <tbody>
    <% @semester.teaching_modules.each do |teaching_module| %>
      <tr>
        <td><%= link_to teaching_module.full_name, teaching_module %></td>
        <td><%= teaching_module.planned_student_hours.round %> / <%= teaching_module.expected_student_hours.round %></td>
        <%= render 'application/td_percent', percent: teaching_module.student_hours_delta %>
        <td width="300" style="padding: 0"><div id="summary-<%= teaching_module.id %>"></div></td>
        <script type="text/javascript">
          $(function () {
            $('#summary-<%= teaching_module.id %>').highcharts({
                chart: { type: 'bar', height: 80 },
                title: null,
                xAxis: { categories: ['PPN', 'Planifié'], tickWidth: 0 },
                yAxis: { min: 0, max: 60, title: null, gridLineWidth: 0, labels: { enabled: false } },
                tooltip: { backgroundColor: 'white', valueSuffix: ' heures' },
                plotOptions: { series: { stacking: 'normal', groupPadding: 0, dataLabels: { enabled: false } } },
                legend: { enabled: false },
                credits: { enabled: false },
                series: [
                  { name: 'TP', data: [<%= teaching_module.hours_tp %>, <%= teaching_module.planned_student_hours_tp %>] },
                  { name: 'TD', data: [<%= teaching_module.hours_td %>, <%= teaching_module.planned_student_hours_td %>] },
                  { name: 'CM', data: [<%= teaching_module.hours_cm %>, <%= teaching_module.planned_student_hours_cm %>] }
                  ]
            });
        });
        </script>
        <td>
          <a data-toggle="collapse" data-target="#collapse<%= teaching_module.id %>" class="btn btn-primary btn-sm">+</a>
          <div id="collapse<%= teaching_module.id %>" class="collapse">
            <% teaching_module.involvements.each do |involvement| %>
              <%#= render 'involvements/short', involvement: involvement %><br/>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Emploi du temps</h2>
<div class="row">
  <div class="col-md-3">
    <div class="text-xl">Total</div>
    <p>
      <span class="label label-default">Etudiant</span>
      <%= to_human_time @semester.planned_student_hours %>
    </p>
    <p>
      <span class="label label-default">Enseignant</span>
      <%= to_human_time @semester.planned_teacher_hours %>
    </p>
  </div>
  <div class="col-md-3">
    <div class="text-xl">CM</div>
    <p>
      <span class="label label-default">Etudiant</span>
      <%= to_human_time @semester.planned_student_hours_cm %>
    </p>
    <p>
      <span class="label label-default">Enseignant</span>
      <%= to_human_time @semester.planned_teacher_hours_cm %>
    </p>
  </div>
  <div class="col-md-3">
    <div class="text-xl">TD</div>
    <p>
      <span class="label label-default">Etudiant</span>
      <%= to_human_time @semester.planned_student_hours_td %>
    </p>
    <p>
      <span class="label label-default">Enseignant</span>
      <%= to_human_time @semester.planned_teacher_hours_td %>
    </p>
  </div>
  <div class="col-md-3">
    <div class="text-xl">TP</div>
    <p>
      <span class="label label-default">Etudiant</span>
      <%= to_human_time @semester.planned_student_hours_tp %>
    </p>
    <p>
      <span class="label label-default">Enseignant</span>
      <%= to_human_time @semester.planned_teacher_hours_tp %>
    </p>
  </div>
</div>
