<h2>Mon service <%= @year %></h2>
<% if current_user.tenured %>
  Je suis permanent dans l'équipe pédagogique<% if current_user.hours %>, et mon service est de <%= current_user.hours %>h<% end %>.
<% else %>
  Je suis vacataire.
<% end %>
<div class="row">
  <div class="col-md-2">
    <div class="text-xl"><%= @year.scheduled_teacher_hours_for(current_user).round %><small>H</small></div>
  </div>
  <div class="col-md-2">
    <div class="text-xl"><%= @year.scheduled_teacher_hours_for(current_user, :cm).round %><small>CM</small></div>
  </div>
  <div class="col-md-3">
    <div class="text-xl"><%= @year.scheduled_teacher_hours_for(current_user, :td).round %><small>TD</small></div>
    <p><%= @year.scheduled_student_hours_for(current_user, :td).round %> heures TD avec chaque étudiant</p>
  </div>
  <div class="col-md-3">
    <div class="text-xl"><%= @year.scheduled_teacher_hours_for(current_user, :tp).round %><small>TP</small></div>
    <p><%= @year.scheduled_student_hours_for(current_user, :tp).round %> heures TP avec chaque étudiant</p>
  </div>
  <% if current_user.tenured && current_user.hours%>
    <% delta = @year.planned_delta_for(current_user) %>
    <div class="col-md-2">
      <div class="btn btn-block <%= delta >= 0 ? 'btn-success' : ' btn-danger' %>">
        <div class="text-xl"><%= delta.round %>h</div>
        <strong><% if delta >= 0 %>Heures complémentaires<% else %>Sous-service<% end %></strong>
      </div>
    </div>
  <% end %>
</div>

<hr class="spacer">

<h2>Projets</h2>
<% @projects.each do |project| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="pull-right">
        <% project.semesters.each do |semester| %>
          <span class="label label-primary"><%= semester %></span>
        <% end %>
      </div>
      <h3><%= link_to project, [project.year, project] %></h3>
      <h4><%= project.user %></h4>
    </div>
    <div class="panel-body">
      <% project.involvements.where(user: current_user).each do |involvement| %>
        <div class="row">
          <div class="col-md-2">
            <%= simple_format involvement.description %>
          </div>
          <div class="col-md-2<% if involvement.student_hours.zero? %> text-muted <% end %>">
            <div class="text-xl"><%= involvement.student_hours.round %>h</div>
             <strong>avec chaque étudiant</strong><br/>
             <%= involvement.teacher_hours.round %>h d'enseignement en tout.
          </div>
          <div class="col-md-2<% if involvement.student_hours_cm.zero? %> text-muted <% end %>">
            <div class="text-xl"><%= involvement.student_hours_cm.round %>h</div>
            <strong>de cours magistral (CM)</strong><br/>
            En classe entière, à assurer une seule fois.
          </div>
          <div class="col-md-2<% if involvement.student_hours_td.zero? %> text-muted <% end %>">
            <div class="text-xl"><%= involvement.student_hours_td.round %>h</div>
            <strong>de travaux dirigés (TD)</strong><br/>
            <% if involvement.student_hours_td > 0 %>
              En demi-groupe, à assurer <%= involvement.multiplier_td %> fois. 
              Cela fait donc un total de <%= involvement.teacher_hours_td.round %>h d'enseignement en TD.
            <% end %>
          </div>
          <div class="col-md-2<% if involvement.student_hours_tp.zero? %> text-muted <% end %>">
            <div class="text-xl"><%= involvement.student_hours_tp.round %>h</div>
            <strong>de travaux pratiques (TP)</strong><br/>
            <% if involvement.student_hours_tp > 0 %>
              Avec <%= involvement.multiplier_tp %> groupes, à assurer <%= involvement.groups_tp %> fois. 
              Cela fait donc un total de <%= involvement.teacher_hours_tp.round %>h d'enseignement en TP.
            <% end %>
          </div>
          <div class="col-md-2">
            <h4><%= involvement.teaching_module %> (<%= involvement.teaching_module.semester %>)</h4>
            <p><%= involvement.teaching_module.label %></p>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
<% end %>

<hr class="spacer">

<h2>Modules</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Code</th>
        <th>Module</th>
        <th>Semestre</th>
        <th>Total heures enseignant</th>
        <th>CM</th>
        <th>TD</th>
        <th>TP</th>
      </tr>
    </thead>
    <tbody>
      <% @teaching_modules.each do |teaching_module| %>
        <tr>
          <td><%= teaching_module.code %></td>
          <td><%= teaching_module.label %></td>
          <td><%= teaching_module.semester %></td>
          <td><%= @year.planned_hours_for_teaching_module_and_user(teaching_module, current_user).round %></td>
          <td><%= @year.planned_hours_for_teaching_module_and_user(teaching_module, current_user, :teacher_hours_cm).round %></td>
          <td><%= @year.planned_hours_for_teaching_module_and_user(teaching_module, current_user, :teacher_hours_td).round %></td>
          <td><%= @year.planned_hours_for_teaching_module_and_user(teaching_module, current_user, :teacher_hours_tp).round %></td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
