<div id="covering"></div></td>
<script type="text/javascript">
  $(function () {
    $('#covering').highcharts({
        chart: { type: 'bar', height: 150 },
        title: null,
        xAxis: { categories: ['Objectifs'], tickWidth: 0 },
        yAxis: { min: 0, title: null },
        credits: { enabled: false },
        plotOptions: { series: { stacking: 'normal' } },
        colors: ['#ff2222', '#22cc22'],
        series: [
          { name: 'Objectifs non couverts', data: [ <%= @objectives_not_covered.count %> ] },
          { name: 'Objectifs couverts', data: [ <%= @objectives_covered.count %> ] }
        ]
    });
});
</script>

<h2>Modules</h2>
<table class="table">
  <thead>
    <tr>
      <th width="300">Module</th>
      <th>Objectif</th>
      <th width="300">Projets visant cet objectif</th>
    </tr>
  </thead>
  <tbody>
    <% @objectives.each do |objective| %>
      <tr class="<%= 'bg-danger' unless objective.covered_in_year?(@year) %>">
        <td><%= objective.teaching_module.full_name %></td>
        <td><%= objective %></td>
        <td>
          <% if objective.covered_in_year?(@year) %>
            <ul class="list-unstyled">
              <% objective.covered_in_year_by_projects(@year).each do |project| %>
                <li><%= link_to project, [@year, project] %></li>
              <% end %>
            </ul>
          <% else %>
            Aucun projet
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Projets</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th width="200">Nom</th>
      <th width="60">N° de semaine</th>
      <th>Description</th>
      <th width="200">Personnes impliquées</th>
      <th width="100">Objectifs couverts</th>
      <th width="400">Modules</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.sort_by(&:week_number).each do |project| %>
      <tr>
        <td><%= link_to project, [@year, project] %></td>
        <td><%= project.week_number %></td>
        <td><%= simple_format project.description %></td>
        <td>
          <strong><%= project.user %></strong><br>
          <ul class="list-unstyled">
            <% project.users.each do |user| %>
              <li><%= user %></li>
            <% end %>
          </ul>
        </td>
        <td><%= project.objectives.count %></td>
        <td>
          <ul class="list-unstyled">
            <% project.teaching_modules.each do |teaching_module| %>
              <li><%= link_to teaching_module.full_name, teaching_module %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Modules</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Module</th>
      <th>Projets</th>
    </tr>
  </thead>
  <tbody>
    <% @semester.teaching_modules.each do |teaching_module| %>
      <tr>
        <td><%= teaching_module.full_name %></td>
        <td>
          <% if teaching_module.projects_in_year?(@year) %>
            <ul class="list-unstyled">
              <% teaching_module.projects_in_year(@year).sort_by(&:week_number).each do |project| %>
                <li><%= link_to project, [@year, project] %></li>
              <% end %>
            </ul>
          <% else %>
            Aucun projet
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>