<%= render 'years/nav' %>

<p class="small">
  Attention, la maquette est une étape préalable d'organisation, seul l'emploi du temps compte.
  Les semaines académiques ne sont pas intégrées dans la maquette, ce qui explique de fortes différences maquette/EDT pour les personnes qui utilisent beaucoup ces semaines.
</p>

<br><br>
<div class="row">
  <div class="col-md-2">
    <div class="text-xl"><%= @users.count %></div>
    <strong>enseignants</strong>
  </div>
  <div class="col-md-4">
    <div class="text-xl"><%= @year.scheduled_student_hours.round %>h</div>
    <strong>de cours (étudiant) dans l'EDT</strong>
  </div>
  <div class="col-md-2">
    <div class="text-xl"><%= @year.scheduled_student_hours_by_tenured_teachers.round %>h</div>
    <strong>par des permanents</strong>
  </div>
  <div class="col-md-2">
    <div class="text-xl"><%= @year.scheduled_student_hours_by_non_tenured_teachers.round %>h</div>
    <strong>par des vacataires</strong>
  </div>
  <div class="col-md-2">
    <div class="text-xl"><%= number_to_percentage @year.scheduled_student_hours_non_tenured_ratio, precision: 0 %></div>
    <strong>de vacataires</strong>
  </div>
</div>
<br><br><br>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th colspan="4">Personne</th>
        <th colspan="7">Heures enseignants</th>
        <th colspan="6">Heures étudiant</th>
      </tr>
      <tr>
        <th style="min-width: 200px">Nom</th>
        <th>Fonctionnaire</th>
        <th>Titulaire</th>
        <th>Service</th>
        <th>Maquette</th>
        <th>Δ service / maquette</th>
        <th>Surcoût</th>
        <th>EDT</th>
        <th>Pondéré</th>
        <th>Δ service / pondéré</th>
        <th>Surcoût</th>
        <th>Maquette</th>
        <th>EDT</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% next if user.nil? %>
        <% if can? :show_service, user %>
          <%
          service = user.hours
          planned = @year.planned_hours_for(user)
          scheduled = @year.scheduled_hours_for(user)
          scheduled_ponderated = @year.scheduled_hours_ponderated_for(user)
          %>
          <tr>
            <td><%= link_to user, year_user_path(year_id: @year.id, id: user.id) %></td>
            <td><%= 'Oui' if user.public %></td>
            <td><%= 'Oui' if user.tenured %></td>
            <td><%= service.round unless service.nil? %></td>
            <td><%= planned.round %></td>
            <%= render 'application/td_delta', value: planned, reference: service %>
            <td><%= number_to_currency user.planned_cost_for_year(@year), precision: 0 %></td>
            <td><%= scheduled.round %></td>
            <td><%= scheduled_ponderated.round %></td>
            <%= render 'application/td_delta', value: scheduled_ponderated, reference: service %>
            <td><%= number_to_currency user.scheduled_cost_for_year(@year), precision: 0 %></td>
            <td><%= @year.planned_hours_for(user, :teacher_hours).round %></td>
            <td><%= @year.scheduled_student_hours_for(user).round %></td>
          </tr>
        <% else %>
          <tr>
            <td><%= user %></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        <% end %>
      <% end unless @year.users.nil? %>
    </tbody>
  </table>
</div>
