<h2>Emploi du temps</h2>

<div class="row">
  <div class="col-md-2">
    <div class="text-xl"><%= @year.scheduled_hours_for(@user).round %><small>h</small></div>
  </div>
  <div class="col-md-2">
    <div class="text-xl"><%= @year.scheduled_hours_for(@user, :cm).round %><small>CM</small></div>
  </div>
  <div class="col-md-3">
    <div class="text-xl"><%= @year.scheduled_hours_for(@user, :td).round %><small>TD</small></div>
  </div>
  <div class="col-md-3">
    <div class="text-xl"><%= @year.scheduled_hours_for(@user, :tp).round %><small>TP</small></div>
  </div>
</div>
<p><%= @year.scheduled_hours_ponderated_for(@user).round %> heures avec CM pondérés</p>


<h3>Service validé (planifié dans l'emploi du temps)</h3>
<table class="table">
  <thead>
    <tr>
      <th>Code PPN</th>
      <th>Code Apogée</th>
      <th>Module</th>
      <th>Total</th>
      <th>CM</th>
      <th>TD</th>
      <th>TP</th>
    </tr>
  </thead>
  <tbody>
    <% @year.scheduled_teaching_modules_for(@user).each do |teaching_module| %>
      <tr>
        <td><%= teaching_module.code %></td>
        <td><%= teaching_module.code_apogee %></td>
        <td><%= teaching_module.label %></td>
        <td><%= @year.scheduled_hours_for_teaching_module_and_user(teaching_module, @user).round %></td>
        <td><%= @year.scheduled_hours_for_teaching_module_and_user(teaching_module, @user, :hours_cm).round %></td>
        <td><%= @year.scheduled_hours_for_teaching_module_and_user(teaching_module, @user, :hours_td).round %></td>
        <td><%= @year.scheduled_hours_for_teaching_module_and_user(teaching_module, @user, :hours_tp).round %></td>
      </tr>
    <% end %>
    <tr>
      <td>NA</td>
      <td>NA</td>
      <td>Heures sans module</td>
      <td><%= @year.scheduled_hours_for_teaching_module_and_user(nil, @user).round %></td>
      <td><%= @year.scheduled_hours_for_teaching_module_and_user(nil, @user, :hours_cm).round %></td>
      <td><%= @year.scheduled_hours_for_teaching_module_and_user(nil, @user, :hours_td).round %></td>
      <td><%= @year.scheduled_hours_for_teaching_module_and_user(nil, @user, :hours_tp).round %></td>
    </tr>
  </tbody>
</table>

<h3>Projets gérés</h3>
<table class="table">
  <thead>
    <tr>
      <th>Projet</th>
      <th>Semestre</th>
      <th width="200">Intervenants</th>
      <th>Dates</th>
      <th>Heures enseignant (tous enseignants)</th>
      <th>Heures étudiant</th>
      <th>Heures sans intervenant (heures étudiant, dans l'EDT)</th>
    </tr>
  </thead>
  <tbody>
    <% @projects_in_charge.order(:from).each do |project| %>
      <tr>
        <td><%= link_to project, [@year, project] %></td>
        <td><%= project.semesters.join(', ') %></td>
        <td class="small"><%= project.users.join(', ') %></td>
        <td>
          du <%= l project.from, format: "%d/%m" %>
          au <%= l project.to, format: "%d/%m/%Y" %>
        </td>
        <td>
          <%= project.teacher_hours %>
          (<%= project.teacher_hours_cm %>/<%= project.teacher_hours_td %>/<%= project.teacher_hours_tp %>)
        </td>
        <td>
          <%= project.student_hours %>
          (<%= project.student_hours_cm %>/<%= project.student_hours_td %>/<%= project.student_hours_tp %>)
        </td>
        <% hours_with_no_one = project.events_for_user(User.temporary).sum(:student_hours) %>
        <td class="<%= 'bg-danger' if hours_with_no_one > 0 %>"><%= hours_with_no_one.round %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Evénements importés de l'emploi du temps</h3>
<table class="table">
  <thead>
    <tr>
      <th>Promotion</th>
      <th>Date</th>
      <th>Module</th>
      <th>Projet</th>
      <th>Label</th>
      <th>Heures<br/><span class="small">étudiant/enseignant</span></th>
      <th>Ouvrir</th>
    </tr>
  </thead>
  <tbody>
    <% @year.events_for(@user).ordered.each do |event| %>
      <tr>
        <td><%= event.promotion.year %></td>
        <td><%= event.date.strftime "%d/%m/%Y, %H:%M" %></td>
        <td class="<%= 'bg-danger' if event.teaching_module.nil? %>"><%= event.teaching_module %></td>
        <td><%= event.project %></td>
        <td>
          <%= event.label %>
          <p class="small"><%= event.description %></p>
        </td>
        <td>
          <%= number_to_human event.duration %>h <%= event.kind.to_s.upcase %><br/>
          <p class="small">
            <%= number_to_human event.student_hours %> / <%= number_to_human event.teacher_hours %>
          </p>
        </td>
        <td>
          <%= link_to 'Ouvrir la semaine',
                      "https://calendar.google.com/calendar/b/1/r/week/#{event.date.year}/#{event.date.month}/#{event.date.day}",
                      target: :blank,
                      class: 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<h2>Maquette</h2>

<div class="row">
  <div class="col-md-2">
    <div class="text-xl"><%= @year.planned_hours_for(@user, :teacher_hours).round %>h</div>
  </div>
  <div class="col-md-2">
    <div class="text-xl"><%= @year.planned_hours_for(@user, :teacher_hours_cm).round %>hCM</div>
  </div>
  <div class="col-md-3">
    <div class="text-xl"><%= @year.planned_hours_for(@user, :teacher_hours_td).round %>hTD</div>
    <p><%= @year.planned_hours_for(@user, :student_hours_td).round %> heures TD avec chaque étudiant</p>
  </div>
  <div class="col-md-3">
    <div class="text-xl"><%= @year.planned_hours_for(@user, :teacher_hours_tp).round %>hTP</div>
    <p><%= @year.planned_hours_for(@user, :student_hours_tp).round %> heures TP avec chaque étudiant</p>
  </div>
  <% if @user.tenured %>
    <% delta = @year.planned_delta_for(@user) %>
    <div class="col-md-2">
      <div class="btn btn-block <%= delta >= 0 ? 'btn-success' : ' btn-danger' %>">
        <div class="text-xl"><%= delta.round %>h</div>
        <strong><% if delta >= 0 %>Heures complémentaires<% else %>Sous-service<% end %></strong>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-5">
    <h3>Projets</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Total</th>
          <th>CM</th>
          <th>TD</th>
          <th>TP</th>
        </tr>
      </thead>
      <tbody>
        <% @year.projects_with_user_involved(@user).each do |project| %>
          <tr>
            <td><%= link_to project, [@year, project] %></td>
            <td><%= project.planned_hours_for_user(@user).round %></td>
            <td><%= project.planned_hours_for_user(@user, :teacher_hours_cm).round %></td>
            <td><%= project.planned_hours_for_user(@user, :teacher_hours_td).round %></td>
            <td><%= project.planned_hours_for_user(@user, :teacher_hours_tp).round %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-7">
    <h3>Service prévisionnel (prévu dans la maquette)</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Code PPN</th>
          <th>Code Apogée</th>
          <th>Module</th>
          <th>Total</th>
          <th>CM</th>
          <th>TD</th>
          <th>TP</th>
        </tr>
      </thead>
      <tbody>
        <% @year.planned_teaching_modules_for(@user).each do |teaching_module| %>
          <tr>
            <td><%= teaching_module.code %></td>
            <td><%= teaching_module.code_apogee %></td>
            <td><%= teaching_module.label %></td>
            <td><%= @year.planned_hours_for_teaching_module_and_user(teaching_module, @user).round %></td>
            <td><%= @year.planned_hours_for_teaching_module_and_user(teaching_module, @user, :teacher_hours_cm).round %></td>
            <td><%= @year.planned_hours_for_teaching_module_and_user(teaching_module, @user, :teacher_hours_td).round %></td>
            <td><%= @year.planned_hours_for_teaching_module_and_user(teaching_module, @user, :teacher_hours_tp).round %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
