<h2>Service prévisionnel (prévu dans la maquette)</h2>

<table class="table">
  <thead>
    <tr>
      <th>Code PPN</th>
      <th>Code Apogée</th>
      <th>Module</th>
      <th>Total</th>
      <th>CM</th>
      <th>TD</th>
      <th>TP</th>
    </tr>
  </thead>
  <tbody>
    <% @year.planned_teaching_modules_for(@user).each do |teaching_module| %>
      <tr>
        <td><%= teaching_module.code %></td>
        <td><%= teaching_module.code_apogee %></td>
        <td><%= teaching_module.label %></td>
        <td><%= @year.planned_hours_for_teaching_module_and_user(teaching_module, @user).round %></td>
        <td><%= @year.planned_hours_for_teaching_module_and_user(teaching_module, @user, :teacher_hours_cm).round %></td>
        <td><%= @year.planned_hours_for_teaching_module_and_user(teaching_module, @user, :teacher_hours_td).round %></td>
        <td><%= @year.planned_hours_for_teaching_module_and_user(teaching_module, @user, :teacher_hours_tp).round %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>Service validé (planifié dans l'emploi du temps)</h2>

<table class="table">
  <thead>
    <tr>
      <th>Code PPN</th>
      <th>Code Apogée</th>
      <th>Module</th>
      <th>Total</th>
      <th>CM</th>
      <th>TD</th>
      <th>TP</th>
    </tr>
  </thead>
  <tbody>
    <% @year.scheduled_teaching_modules_for(@user).each do |teaching_module| %>
      <tr>
        <td><%= teaching_module.code %></td>
        <td><%= teaching_module.code_apogee %></td>
        <td><%= teaching_module.label %></td>
        <td><%= @year.scheduled_hours_for_teaching_module_and_user(teaching_module, @user).round %></td>
        <td><%= @year.scheduled_hours_for_teaching_module_and_user(teaching_module, @user, :teacher_hours_cm) %></td>
        <td><%= @year.scheduled_hours_for_teaching_module_and_user(teaching_module, @user, :teacher_hours_td) %></td>
        <td><%= @year.scheduled_hours_for_teaching_module_and_user(teaching_module, @user, :teacher_hours_tp) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
