<p id="notice"><%= notice %></p>

<h1>Unités d'enseignement</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teaching_units.each do |teaching_unit| %>
      <tr>
        <td><%= teaching_unit %></td>
        <td><%= link_to 'Show', teaching_unit %></td>
        <td><%= link_to 'Edit', edit_teaching_unit_path(teaching_unit) %></td>
        <td><%= link_to 'Destroy', teaching_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teaching unit', new_teaching_unit_path %>
