<div class="card devise-bs">
  <div class="card-body">
    <h4><%= t('.resend_unlock_instructions', default: 'Resend unlock instructions') %></h4>
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, html: { role: "form" } }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
      <%= f.submit t('.resend_unlock_instructions', default: 'Resend unlock instructions'), class: 'btn btn-primary'%>
    <% end %>
    <%= render 'devise/shared/links' %>
  </div>
</div>
