<p id="notice"><%= notice %></p>

<h1><%= @teaching_subjects.count %> sujets</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>UE</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @teaching_subjects.each do |teaching_subject| %>
      <tr>
        <td><%= teaching_subject.label %></td>
        <td><%= link_to teaching_subject.teaching_unit, teaching_unit_path(teaching_subject.teaching_unit) %></td>
        <td><%= link_to 'Show', teaching_subject %></td>
        <td><%= link_to 'Edit', edit_teaching_subject_path(teaching_subject) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
