<p id="notice"><%= notice %></p>

<h1><%= @teaching_subject %></h1>
<p>Ce sujet appartient à l'<%= link_to @teaching_subject.teaching_unit, @teaching_subject.teaching_unit %></p>

<%= column_chart @teaching_subject.teaching_modules.group(:semester).sum(:hours) %>

<h2><%= @teaching_subject.teaching_modules.count %> modules</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Heure</th>
      <th>Semestre</th>
      <th>Categorie</th>
    </tr>
  </thead>
  <tbody>
    <% @teaching_subject.teaching_modules.order(:semester_id).each do |teaching_module| %>
      <tr>
        <td><%= link_to teaching_module.code, teaching_module %></td>
        <td><%= teaching_module.hours %></td>
        <td><%= link_to teaching_module.semester, teaching_module.semester %></td>
        <td><%= link_to teaching_module.teaching_category, teaching_module.teaching_category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
