<h1><%= @users.count %> personnes</h1>
<%= link_to 'Recapitulatif des heures', users_summary_path %><br/>
<%= link_to 'Nouvelle personne', new_user_path %>

<table class="table table-hover">
  <thead>
    <tr>
      <th style="min-width: 200px">Nom</th>
      <th>Responsable des modules</th>
      <th>Champs</th>
      <th>Projets</th>
      <th>Heures enseignant</th>
      <th>Heures étudiant</th>
      <th>Service</th>
      <th>Sous-service ?</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user, user %></td>
        <td><%= render partial: 'teaching_modules/inline_list', locals: {teaching_modules: user.teaching_modules} %></td>
        <td><%= render partial: 'fields/inline_list', locals: {fields: user.fields} %></td>
        <td><%= render partial: 'projects/inline_list', locals: {projects: user.projects} %></td>
        <td><%= user.teacher_hours %></td>
        <td><%= user.student_hours %></td>
        <td><%= user.hours %></td>
        <td><%= user.hours_filled? ? 'non' : 'oui' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
