<p id="notice"><%= notice %></p>

<h1><%= @users.count %> personnes</h1>
<%= link_to 'Nouvelle personne', new_user_path %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Heures</th>
      <th>Titulaire</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user, user %></td>
        <td><%= user.hours %></td>
        <td><%= user.tenured %></td>
      </tr>
    <% end %>
  </tbody>
</table>
