<p><%= @users.count %> personnes</p>
<%= link_to 'Nouvelle personne', new_user_path, class: 'btn btn-primary btn-xs' if can? :create, User %>

<table class="table table-hover">
  <thead>
    <tr>
      <th style="min-width: 200px">Nom</th>
      <th>Email</th>
      <th>Email secondaire</th>
      <th>Fonctionnaire?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user, user %></td>
        <td>
          <%= user.email %>
          <% if current_user.admin? and user.email.present? %>
            <%= link_to 'Envoyer l\'invitation', reset_user_path(user), class: 'btn btn-primary btn-xs', method: :post %>
          <% end %>
        </td>
        <td><%= user.email_secondary %></td>
        <td><%= user.public ? 'oui' : 'non' %></td>
        <td><%= link_to 'Modifier', edit_user_path(user), class: 'btn btn-primary btn-xs' if can? :edit, user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
