<%= link_to 'Modifier', edit_user_path(@user), class: 'btn btn-primary btn-sm' if can? :edit, @user %>

<br/><br/>

<div>
  <ul class="nav nav-tabs">
    <% @years.each_with_index do |year, index| %>
      <li class="nav-item">
        <a class="nav-link<%= ' active' if index.zero? %>" href="#year<%= year.id %>" role="tab" data-bs-toggle="tab"><%= year %></a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content">
    <% @years.each_with_index do |year, index| %>
      <div role="tabpanel" class="tab-pane<%= ' active' if index.zero? %>" id="year<%= year.id %>">
        <h2 class="mt-5"><%= year %></h2>

        <h3>Service prévisionnel (prévu dans la maquette)</h3>
        <p><%= year.planned_hours_for(@user).round %> heures enseignant</p>
        <table class="table">
          <thead>
            <tr>
              <th>Code PPN</th>
              <th>Code Apogée</th>
              <th>Module</th>
              <th>Total</th>
              <th>CM</th>
              <th>TD</th>
              <th>TP</th>
            </tr>
          </thead>
          <tbody>
            <% year.planned_teaching_modules_for(@user).each do |teaching_module| %>
              <tr>
                <td><%= teaching_module.code %></td>
                <td><%= teaching_module.code_apogee %></td>
                <td><%= teaching_module.label %></td>
                <td><%= year.planned_hours_for_teaching_module_and_user(teaching_module, @user).round %></td>
                <td><%= year.planned_hours_for_teaching_module_and_user(teaching_module, @user, :teacher_hours_cm).round %></td>
                <td><%= year.planned_hours_for_teaching_module_and_user(teaching_module, @user, :teacher_hours_td).round %></td>
                <td><%= year.planned_hours_for_teaching_module_and_user(teaching_module, @user, :teacher_hours_tp).round %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <h3>Service validé (planifié dans l'emploi du temps)</h3>
        <p><%= year.scheduled_teacher_hours_for(@user).round %> heures enseignant</p>
        <table class="table">
          <thead>
            <tr>
              <th>Code PPN</th>
              <th>Code Apogée</th>
              <th>Module</th>
              <th>Total</th>
              <th>CM</th>
              <th>TD</th>
              <th>TP</th>
            </tr>
          </thead>
          <tbody>
            <% year.scheduled_teaching_modules_for(@user).each do |teaching_module| %>
              <tr>
                <td><%= teaching_module.code %></td>
                <td><%= teaching_module.code_apogee %></td>
                <td><%= teaching_module.label %></td>
                <td><%= year.scheduled_hours_for_teaching_module_and_user(teaching_module, @user).round %></td>
                <td><%= year.scheduled_hours_for_teaching_module_and_user(teaching_module, @user, :teacher_hours_cm).round %></td>
                <td><%= year.scheduled_hours_for_teaching_module_and_user(teaching_module, @user, :teacher_hours_td).round %></td>
                <td><%= year.scheduled_hours_for_teaching_module_and_user(teaching_module, @user, :teacher_hours_tp).round %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
