<p id="notice"><%= notice %></p>

<h1><%= @user %></h1>

<p>
  <strong>Hours:</strong>
  <%= @user.hours %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Nouvelle personne', new_user_path %>
