<h1><%= @user %></h1>
<%= link_to 'Edit', edit_user_path(@user) %>
<p><%= @user.hours %> heures</p>

<h2>Projets</h2>
<%= render partial: 'projects/inline_list', locals: {projects: @user.projects} %>

<h2>Modules</h2>
<%= render partial: 'teaching_modules/inline_list', locals: {teaching_modules: @user.teaching_modules} %>

<h2>Champs</h2>
<%= render partial: 'fields/inline_list', locals: {fields: @user.fields} %>
