<h1>Récapitulatif</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th style="min-width: 200px">Nom</th>
      <th>Heures</th>
      <th>Service</th>
      <th>Delta heures / service</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user, user %></td>
        <td><%= user.teacher_hours %></td>
        <td><%= user.hours %></td>
        <td class="<%= user.hours_filled? ? '' : 'hours-warning' %>"><%= user.hours_delta %></td>
      </tr>
    <% end %>
  </tbody>
</table>
