<%= semantic_form_for @teaching_module do |f| %>
  <%= f.inputs do %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :calendar_url, label: 'URL du calendrier' %>
        <%= f.input :user, label: 'Responsable' %>
      </div>
      <div class="col-md-6">
        <%= f.input :fields, as: :check_boxes, collection: Field.not_root, label: 'Champs' %>
      </div>
    </div>
  <% end %>
  <%= f.submit 'Enregistrer', class: 'btn btn-default' %>
<% end %>

