<table class="table table-hover">
  <thead>
    <tr>
      <th>Code PPN</th>
      <th>Code Apogée</th>
      <th>Nom</th>
      <th>UE</th>
      <th>Catégorie</th>
      <th>Semestre</th>
      <th>Heures</th>
      <th>CM</th>
      <th>TD</th>
      <th>TP</th>
      <th width="300">Mots-clés</th>
    </tr>
  </thead>
  <tbody>
    <% teaching_modules.each do |teaching_module| %>
      <tr>
        <td><%= teaching_module.code %></td>
        <td><%= teaching_module.code_apogee %></td>
        <td><%= link_to teaching_module.label, teaching_module %></td>
        <td><%= link_to teaching_module.teaching_unit, teaching_module.teaching_unit %></td>
        <td><%= link_to teaching_module.teaching_category, teaching_module.teaching_category %></td>
        <td><%= link_to teaching_module.semester, teaching_module.semester %></td>
        <td><%= teaching_module.hours %></td>
        <td><%= teaching_module.hours_cm %></td>
        <td><%= teaching_module.hours_td %></td>
        <td><%= teaching_module.hours_tp %></td>
        <td><small><%= teaching_module.keywords.map{|k|k.label}.join(', ') %></small></td>
      </tr>
    <% end %>
  </tbody>
</table>
