<h1>Coûts</h1>

<% @semesters.each do |semester| %>
  <h2><%= semester %></h2>
  <p>
    CM : <%= semester.planned_student_hours_cm_costs.round %>€<br/>
    TD : <%= semester.planned_student_hours_td_costs.round %>€<br/>
    TP : <%= semester.planned_student_hours_tp_costs.round %>€<br/>
    Total : <%= semester.planned_student_hours_costs.round %>€<br/>
  </p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Coût CM</th>
        <th>Coût TP</th>
        <th>Coût TD</th>
        <th>Coût total</th>
      </tr>
    </thead>
    <tbody>
      <% semester.teaching_modules.each do |teaching_module| %>
        <tr>
          <td><%= link_to teaching_module.full_name, teaching_module %></td>
          <td><%= teaching_module.planned_student_hours_cm_costs.round %>€</td>
          <td><%= teaching_module.planned_student_hours_td_costs.round %>€</td>
          <td><%= teaching_module.planned_student_hours_tp_costs.round %>€</td>
          <td><%= teaching_module.planned_student_hours_costs.round %>€</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>