<div class="row">
  <div class="col-md-4">
    <%= @teaching_modules.count %> modules dans le PPN<br/>
    <%= @student_hours %> heures étudiants au total<br/>
    <%= @student_hours_cm %> heures de CM<br/>
    <%= @student_hours_td %> heures de TD<br/>
    <%= @student_hours_tp %> heures de TP
  </div>
  <div class="col-md-4">
    <%= pie_chart [ 
                    ['CM', @student_hours_cm],
                    ['TD', @student_hours_td],
                    ['TP', @student_hours_tp],
                  ] %>
  </div>
</div>

<%= render partial: 'table', locals: {teaching_modules: @teaching_modules} %>
