<h1>Maquette</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Interventions</th>
      <th>Heures planifiées</th>
      <th>Heures PPN</th>
      <th>Variation</th>
    </tr>
  </thead>
  <tbody>
    <% @teaching_modules.each do |teaching_module| %>
      <tr>
        <td><%= link_to teaching_module.full_name, teaching_module %></td>
        <td>
          <% teaching_module.involvements.each do |involvement| %>
            <%= involvement.user %>
            CM <%= involvement.hours_cm %>
            TD <%= involvement.hours_td %>
            TP <%= involvement.hours_tp %>
            <%= "(#{involvement.description})" unless involvement.description.nil? or involvement.description.empty? %>
            <br/>
          <% end %>
        </td>
        <td><%= teaching_module.student_hours %></td>
        <td><%= teaching_module.hours %></td>
        <td class="<%= teaching_module.student_hours_delta_warning ? 'hours-warning' : '' %>"><%= teaching_module.student_hours_delta.round(2) %> %</td>
      </tr>
    <% end %>
  </tbody>
</table>
