<% @semesters.each do |semester| %>
  <h2><%= link_to semester, semester %></h2>
  <p>Heures étudiant : <%= semester.planned_student_hours.round %> planifiées / <%= semester.expected_student_hours.round %> PPN</p>
  <div id="semester-<%= semester.id %>"></div></td>
  <script type="text/javascript">
    $(function () {
      $('#semester-<%= semester.id %>').highcharts({
          chart: { type: 'bar', height: 150 },
          title: null,
          xAxis: { categories: ['PPN', 'Planifié'], tickWidth: 0 },
          yAxis: { min: 0, title: null },
          tooltip: { backgroundColor: 'white', valueSuffix: ' heures' },
          plotOptions: { series: { stacking: 'normal', dataLabels: { enabled: false } } },
          legend: { enabled: false },
          credits: { enabled: false },
          series: [
            { name: 'TP', data: [<%= semester.student_hours_tp %>, <%= semester.planned_student_hours_tp %>] }, 
            { name: 'TD', data: [<%= semester.student_hours_td %>, <%= semester.planned_student_hours_td %>] }, 
            { name: 'CM', data: [<%= semester.student_hours_cm %>, <%= semester.planned_student_hours_cm %>] }
            ]
      });
  });
  </script>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Heures étudiant planifiées</th>
        <th>Heures étudiant PPN</th>
        <th>Variation</th>
      </tr>
    </thead>
    <tbody>
      <% semester.teaching_modules.each do |teaching_module| %>
        <tr>
          <td><%= link_to teaching_module.full_name, teaching_module %></td>
          <td><%= teaching_module.planned_student_hours.round %></td>
          <td><%= teaching_module.expected_student_hours.round %></td>
          <%= render 'application/td_percent', percent: teaching_module.student_hours_delta %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>