<p id="notice"><%= notice %></p>

<h1><%= @competencies.count %> compétences</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Label</th>
      <th>Teaching module</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @competencies.each do |competency| %>
      <tr>
        <td><%= competency.label %></td>
        <td><%= competency.teaching_module_id %></td>
        <td><%= link_to 'Show', competency %></td>
        <td><%= link_to 'Edit', edit_competency_path(competency) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
