<p id="notice"><%= notice %></p>

<h1><%= @projects.count %> projets</h1>
<%= link_to 'Nouveau projet', new_project_path %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Label</th>
      <th>Semestres</th>
      <th>Champs</th>
      <th>Modules</th>
      <th>Personnes</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project, project %></td>
        <td><%= render partial: 'semesters/inline_list', locals: {semesters: project.semesters} %></td>
        <td><%= render partial: 'fields/inline_list', locals: {fields: project.fields} %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>