<%= link_to 'Modifier', edit_project_path(@project), class: 'btn btn-default' if can? :edit, @project %>
<div class="row">
  <div class="col-md-4">
    <h4>Description détaillée</h4>
    <%= simple_format @project.detailed_description %>
    <h4>Année</h4>
    <%= link_to @project.year, @project.year %>
    (<%= @project.week_number %>)
    <h4>Semestres</h4>
    <%= render partial: 'semesters/inline_list', locals: {semesters: @project.semesters} %>
    <h4>Champs concernés</h4>
    <%= render partial: 'fields/inline_list', locals: {fields: @project.fields} %>
    <h4>Modules concernés</h4>
    <p>Nous pouvons intégrer des notes de ce projet dans les modules suivants</p>
    <%= render partial: 'teaching_modules/inline_list', locals: {teaching_modules: @project.teaching_modules} %>
    <h4>Personnes</h4>
    <p><strong><%= link_to @project.user, @project.user unless @project.user.nil? %></strong></p>
    <ul class="list-unstyled">
      <% @project.users.each do |user| %>
        <li><%= link_to user, user %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-8">
    <h2>Objectifs visés par ce projet</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Module</th>
          <th>Objectif</th>
        </tr>
      </thead>
      <tbody>
        <% @project.objectives.each do |objective| %>
          <tr>
            <td><%= objective.teaching_module.full_name %></td>
            <td><%= objective %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<h2>Heures planifiées</h2>
<p>
  Heures étudiants : <%= @project.student_hours %>
  (CM <%= @project.student_hours_cm %>
  TD <%= @project.student_hours_td %>
  TP <%= @project.student_hours_tp %>)
  <br/>
  Heures enseignants : <%= @project.teacher_hours %>
</p>
<table class="table">
  <thead>
    <tr>
      <th>Personne</th>
      <th>Semestre</th>
      <th>Code module</th>
      <th>Nom module</th>
      <th>Heures étudiant total</th>
      <th>CM</th>
      <th>TD</th>
      <th>TP</th>
      <th>Heures enseignant</th>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @project.involvements.includes(:teaching_module).reorder('teaching_modules.semester_id').each do |involvement| %>
    <tr>
      <td><%= link_to involvement.user, involvement.user %></td>
      <td><%= link_to involvement.teaching_module.semester, involvement.teaching_module.semester %></td>
      <td><%= link_to involvement.teaching_module, involvement.teaching_module %></td>
      <td><%= link_to involvement.teaching_module.label, involvement.teaching_module %></td>
      <td><%= involvement.student_hours %></td>
      <td><%= involvement.hours_cm %></td>
      <td><%= involvement.hours_td %></td>
      <td><%= involvement.hours_tp %></td>
      <td><%= involvement.teacher_hours %></td>
      <td><%= simple_format involvement.description %></td>
      <td><%= link_to involvement.project, involvement.project unless involvement.project.nil? %></td>
      <td><%= link_to 'Edit', edit_involvement_path(involvement), class: 'btn btn-primary btn-xs' if can? :edit, involvement%></td>
    </tr>
  <% end %>
  </tbody>
</table>