<%= render 'promotions/nav' %>
<h2><%= @promotion.events.count %> événements Google Calendar importés</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Ressource</th>
      <th>Projet</th>
      <th>Date</th>
      <th>Type</th>
      <th>Label</th>
      <th>Description</th>
      <th>Heures</th>
      <th>Heures étudiants</th>
      <th>Heures enseignant</th>
      <th>Personne</th>
      <th>Ouvrir</th>
    </tr>
  </thead>
  <tbody>
    <% @promotion.events.ordered.each do |event| %>
      <tr>
        <td>
          <%= event.teaching_module %>
          <%= event.resource %>
        </td>
        <td><%= event.project %></td>
        <td><%= event.date.strftime "%d/%m/%Y, %H:%M" %></td>
        <td><%= event.kind.to_s.upcase %></td>
        <td><%= event.label %></td>
        <td><%= event.description %></td>
        <td><%= number_to_human event.duration %></td>
        <td><%= number_to_human event.student_hours %></td>
        <td><%= number_to_human event.teacher_hours %></td>
        <td><%= event.user %></td>
        <td>
          <%= link_to 'Ouvrir la semaine',
                      "https://calendar.google.com/calendar/b/1/r/week/#{event.date.year}/#{event.date.month}/#{event.date.day}",
                      target: :blank,
                      class: 'btn btn-primary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
