<p id="notice"><%= notice %></p>

<p>
  <strong>Nom</strong>
  <%= @resource.label %>
</p>

<p>
  <strong>Code Apogée</strong>
  <%= @resource.code_apogee %>
</p>

<p>
  <strong>Code</strong>
  <%= @resource.code %>
</p>

<p>
  <strong>Description</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Heures CM/TD</strong>
  <%= @resource.hours_cm %>
</p>

<p>
  <strong>Heures TP</strong>
  <%= @resource.hours_tp %>
</p>

<p>
  <strong>Semestre</strong>
  <%= @resource.semester %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
