<div class="row">
  <div class="col-md-2">
    <p>
      <strong>Code</strong>
      <%= @resource.code %>
    </p>
    <p>
      <strong>Code Apogée</strong>
      <%= @resource.code_apogee %>
    </p>
    <p>
      <strong>Semestre</strong>
      <%= @resource.semester %>
    </p>
  </div>
  <div class="col-md-8">
    <%= simple_format @resource.description %>
  </div>
  <div class="col-md-2">
    <p>
      <%= @resource.hours_cm %> heures de CM/TD
    </p>
    <p>
      <%= @resource.hours_tp %> heures de TP
    </p>
  </div>
</div>

<%= link_to 'Modifier', edit_resource_path(@resource), class: button_classes %>
