<%= semantic_form_for @involvement do |f| %>
  <%= f.inputs do %>
    <%= f.input :teaching_module %>
    <%= f.input :user %>
    <%= f.input :description %>
    <p>Toutes les heures sont en heures étudiants</p>
    <%= f.input :hours_cm %>
    <%= f.input :hours_td %>
    <%= f.input :hours_tp %>
  <% end %>
  <%= f.actions %>
<% end %>
