<%= semantic_form_for @involvement do |f| %>
  <%= f.inputs do %>
    <div class="row">
      <div class="col-md-4">
        <%= f.input :teaching_module, label: 'Module' %>
        <%= f.input :user, label: 'Personne' %>
        <%= f.input :description, input_html: { rows: 3 } %>
      </div>
      <div class="col-md-8">
        <h4>Cours magistraux (CM)</h4>
        <%= f.input :hours_cm, label: 'Heures' %>
        <h4>Travaux dirigés (TD)</h4>
        <div class="row">
          <div class="col-md-6"><%= f.input :hours_td, label: 'Heures' %></div>
          <div class="col-md-6"><%= f.input :multiplier_td, label: 'données à x groupes' %></div>
        </div>
        <h4>Travaux pratiques (TP)</h4>
        <div class="row">
          <div class="col-md-4"><%= f.input :hours_tp, label: 'Heures' %></div>
          <div class="col-md-4"><%= f.input :multiplier_tp, label: 'données à x groupes' %></div>
          <div class="col-md-4"><%= f.input :groups_tp, label: 'sur x groupes' %></div>
        </div>
        <p>Toutes les heures sont en heures étudiants</p>
      </div>
    </div>
  <% end %>
  <%= f.actions %>
<% end %>