<table class="table">
  <thead>
    <tr>
      <th>Personne</th>
      <th>Semestre</th>
      <th>Code module</th>
      <th>Nom module</th>
      <th>Heures étudiant total</th>
      <th>CM</th>
      <th>TD</th>
      <th>TP</th>
      <th>Heures enseignant</th>
      <th>Note</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
  <% involvements.each do |involvement| %>
    <tr>
      <td><%= link_to involvement.user, involvement.user %></td>
      <td><%= link_to involvement.teaching_module.semester, involvement.teaching_module.semester %></td>
      <td><%= link_to involvement.teaching_module, involvement.teaching_module %></td>
      <td><%= link_to involvement.teaching_module.label, involvement.teaching_module %></td>
      <td><%= involvement.student_hours %></td>
      <td><%= involvement.hours_cm %></td>
      <td><%= involvement.hours_td %></td>
      <td><%= involvement.hours_tp %></td>
      <td><%= involvement.teacher_hours %></td>
      <td><%= simple_format involvement.description %></td>
      <td><%= link_to 'Edit', edit_involvement_path(involvement), class: 'btn btn-primary btn-xs' %></td>
    </tr>
  <% end %>
  </tbody>
</table>