<p id="notice"><%= notice %></p>

<h1>Listing Involvements</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Project</th>
      <th>User</th>
      <th>Hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @involvements.each do |involvement| %>
      <tr>
        <td><%= involvement.project_id %></td>
        <td><%= involvement.user_id %></td>
        <td><%= involvement.hours %></td>
        <td><%= link_to 'Show', involvement %></td>
        <td><%= link_to 'Edit', edit_involvement_path(involvement) %></td>
        <td><%= link_to 'Destroy', involvement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Involvement', new_involvement_path %>
