<p id="notice"><%= notice %></p>

<p>
  <strong>Teaching module</strong>
  <%= @involvement.teaching_module %>
</p>

<p>
  <strong>User:</strong>
  <%= @involvement.user %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @involvement.hours %>
</p>

<%= link_to 'Edit', edit_involvement_path(@involvement) %> |
<%= link_to 'Back', involvements_path %>
