<%= render 'years/nav' %>

<%= link_to 'Nouveau projet',
            new_year_project_path(year_id: @year.id),
            class: 'btn btn-primary btn-xs' if can? :create, Project %>

<%= link_to 'Synchroniser la maquette à partir de l\'EDT pour tous les projets',
            batch_sync_involvements_from_events_year_projects_path(year_id: @year.id),
            method: :post,
            class: 'btn btn-primary btn-xs' if can? :create, Project %>

<div id='timeline' style="width: 100%; height: 600px"></div>
<script type="text/javascript">
  var data = <%= { events: @year.projects.collect(&:to_event) }.to_json.html_safe %>;
  var config = { language: 'fr', initial_zoom: 1 };
  new TL.Timeline('timeline', data, config);
</script>

<% Semester.all.each do |semester| %>
  <h3><%= link_to semester, year_semester_path(year_id: @year.id, id: semester) %></h3>
  <% projects = @year.projects.in_semester(semester) %>
  <p><%= projects.count %> projets</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="min-width: 200px">Nom</th>
        <th>Date</th>
        <th width="400">Description</th>
        <th>Responsable</th>
        <th>Heures étudiant<br/><small>CM/TD/TP</small></th>
        <% if current_user.admin %>
          <th>
            Coût<br/>
            <small>
              total <br>
              heure étudiant
            </small>
          </th>
        <% end %>
        <th>Heures sans intervenant<br/><small>heures étudiant, dans l'EDT</small></th>
      </tr>
    </thead>
    <tbody>
      <% projects.sort_by(&:week_number).each do |project| %>
        <tr>
          <td>
            <%= link_to [@year, project] do %>
              <%= project %><br>
              <small><%= project.sublabel %></small>
            <% end %>
          </td>
          <td>
            du <%= l project.from, format: "%d/%m" %>
            au <%= l project.to, format: "%d/%m/%Y" %>
          </td>
          <td><%= simple_format project.description %></td>
          <td><%= project.user %></td>
          <td>
            <%= project.student_hours %><br>
            <%= project.student_hours_cm %>/<%= project.student_hours_td %>/<%= project.student_hours_tp %>
          </td>
          <% if current_user.admin %>
            <td>
              <%= number_to_currency project.cost, precision: 0 %><br>
              <%= number_to_currency project.cost_per_student_hour %>
            </td>
          <% end %>
          <% hours_with_no_one = project.events_for_user(User.temporary).sum(:student_hours) %>
          <td class="<%= 'bg-danger' if hours_with_no_one > 0 %>"><%= hours_with_no_one.round %></td>
         </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h3>Projets sans semestres</h3>
<ul>
  <% @year.projects.each do |project| %>
    <% next if project.semesters.any? %>
    <li><%= link_to project, [@year, project] %></li>
  <% end %>
</ul>
