<%= link_to 'Modifier',
            edit_year_project_path(year_id: @year.id, id: @project.id),
            class: 'btn btn-default' if can? :edit, @project %>
<%= link_to 'Synchroniser la maquette à partir de l\'EDT',
            sync_involvements_from_events_year_project_path(year_id: @year.id, id: @project.id),
            method: :post,
            class: 'btn btn-default' if can? :edit, @project %>
<br/><br/>
<div class="row">
  <div class="col-md-3">
    <%= @project.sublabel %>
    <h4>Description détaillée</h4>
    <%= simple_format @project.detailed_description %>
    <h4>Année</h4>
    <p>
      <%= link_to @project.year, @project.year %>
      (<%= @project.week_number %>)
    </p>
    <% if @project.from && @project.to %>
      <p>Du <%= l @project.from %> au <%= l @project.to %></p>
    <% end %>
    <h4>Semestres</h4>
    <%= render partial: 'semesters/inline_list', locals: {semesters: @project.semesters} %>
    <h4>Champs concernés</h4>
    <%= render partial: 'fields/inline_list', locals: {fields: @project.fields} %>
    <h4>Modules concernés</h4>
    <p>Nous pouvons intégrer des notes de ce projet dans les modules suivants</p>
    <%= render partial: 'teaching_modules/inline_list', locals: {teaching_modules: @project.teaching_modules} %>
    <h4>Personnes</h4>
    <%= link_to @project.user do %><strong><%= @project.user %></strong><% end %><br>
    <ul class="list-unstyled">
      <% @project.users.each do |user| %>
        <li><%= link_to user, user %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9">
    <%= render 'years/projects/evaluation', project: @project %>
  </div>
</div>

<h4>Maquette (heures planifiées)</h4>
<p>
  Heures étudiants : <%= @project.student_hours %>
  (CM <%= @project.student_hours_cm %>
  TD <%= @project.student_hours_td %>
  TP <%= @project.student_hours_tp %>)
  <br/>
  Heures enseignants : <%= @project.teacher_hours %>
</p>
<%= link_to 'Planifier une intervention', new_year_involvement_path(year_id: @year.id, project_id: @project.id), class: 'btn btn-primary btn-xs' %>
<table class="table">
  <thead>
    <tr>
      <th>Personne</th>
      <th>Module</th>
      <th>Promotion</th>
      <th>Heures étudiant total</th>
      <th>CM</th>
      <th>TD</th>
      <th>TP</th>
      <th>Heures enseignant</th>
      <% if current_user.admin %>
        <th>Coût</th>
      <% end %>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @involvements.each do |involvement| %>
    <tr>
      <td><%= link_to involvement.user, involvement.user unless involvement.user.nil? %></td>
      <td><%= link_to involvement.teaching_module&.full_name, involvement.teaching_module %></td>
      <td><%= link_to involvement.promotion&.year, involvement.promotion %></td>
      <td><%= involvement.student_hours.round %></td>
      <td><%= involvement.hours_cm.round %></td>
      <td><%= involvement.hours_td.round %></td>
      <td><%= involvement.hours_tp.round %></td>
      <td><%= involvement.teacher_hours.round %></td>
      <% if current_user.admin %>
        <td><%= number_to_currency involvement.teacher_hours_costs %></td>
      <% end %>
      <td><%= simple_format involvement.description %></td>
      <td>
        <%= link_to 'Modifier', edit_year_involvement_path(year_id: @year.id, id: involvement.id), class: 'btn btn-primary btn-xs' if can? :edit, involvement%>
        <%= link_to 'Supprimer', year_involvement_path(year_id: @year.id, id: involvement.id), method: :delete, data: {confirm: "Sûr(e)?"}, class: 'btn btn-danger btn-xs'  %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


<h4>Emploi du temps</h4>
<p>
  Attention, certains événements peuvent avoir lieu pendant le temps du projet sans être rattachés au projet.
  Ce tableau peut donc présenter des faux positifs.
</p>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Module</th>
      <th>Type</th>
      <th>Heures</th>
      <th>Heures étudiants</th>
      <th>Heures enseignant</th>
      <th>Personnes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @project.events.ordered.each do |event| %>
    <tr>
      <td><%= event.date.strftime "%d/%m/%Y" %></td>
      <td><%= event.teaching_module&.full_name %></td>
      <td><%= event.kind.to_s.upcase %></td>
      <td><%= number_to_human event.duration %></td>
      <td><%= number_to_human event.student_hours %></td>
      <td><%= number_to_human event.teacher_hours %></td>
      <td>
        <% event.users.each do |user| %>
          <%= link_to user, user %><br>
        <% end %>
      </td>
      <td>
        <%= link_to 'Ouvrir la semaine',
                    "https://calendar.google.com/calendar/b/1/r/week/#{event.date.year}/#{event.date.month}/#{event.date.day}",
                    target: :blank,
                    class: 'btn btn-default btn-xs' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<h4>Objectifs visés par ce projet</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="300">Module</th>
      <th>Objectif</th>
    </tr>
  </thead>
  <tbody>
    <% @project.objectives.each do |objective| %>
      <tr>
        <td><%= objective.teaching_module.full_name %></td>
        <td><%= objective %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2 class="mt-5">Emploi du temps</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <% @project.days.each do |day| %>
        <th><%= l day, format: "%A %d" %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @project.days.each do |day| %>
        <td>
          <ul>
            <% @project.events.where('DATE(date) = ?', day).each do |event| %>
              <li>
                <%= event.users.join(', ') %>
                <p class="small text-muted"><%= event.teaching_module&.label %></p>
              </li>
            <% end %>
          </ul>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
