<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @keyword.label %>
</p>

<p>
  <strong>Teaching module:</strong>
  <%= @keyword.teaching_module_id %>
</p>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
