<%= semantic_form_for [@year, @involvement] do |f| %>
  <%= f.inputs do %>
    <div class="row">
      <div class="col-md-3">
        <%= f.input :promotion, label: 'Promotion', include_blank: false, collection: @promotions %>
        <%= f.input :user, label: 'Personne' %>
        <%= f.submit 'Enregistrer', class: 'btn btn-primary' %>
      </div>
      <div class="col-md-4">
        <%= f.input :project, label: 'Projet', collection: @projects %>
        <%= f.input :teaching_module, label: 'Module', include_blank: false, collection: @teaching_modules_collection %>
        <%= f.input :description, label: 'Description de l\'intervention', input_html: { rows: 3 } %>
      </div>
      <div class="col-md-5">
        <h4>Cours magistraux (CM)</h4>
        <%= f.input :hours_cm, label: 'Heures' %>
        <h4>Travaux dirigés (TD)</h4>
        <div class="row">
          <div class="col-md-6"><%= f.input :hours_td, label: 'Heures' %></div>
          <div class="col-md-6"><%= f.input :multiplier_td, label: 'données à x groupes' %></div>
        </div>
        <h4>Travaux pratiques (TP)</h4>
        <div class="row">
          <div class="col-md-4"><%= f.input :hours_tp, label: 'Heures' %></div>
          <div class="col-md-4"><%= f.input :multiplier_tp, label: 'données à x groupes' %></div>
          <div class="col-md-4"><%= f.input :groups_tp, label: 'sur x groupes' %></div>
        </div>
        <p>Toutes les heures sont en heures étudiants</p>
      </div>
    </div>
  <% end %>
<% end %>