<%= form_for(@teaching_category) do |f| %>
  <% if @teaching_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teaching_category.errors.count, "error") %> prohibited this teaching_category from being saved:</h2>

      <ul>
      <% @teaching_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label %><br>
    <%= f.number_field :label %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
