<p id="notice"><%= notice %></p>

<h1><%= @teaching_categories.count %> catégories</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teaching_categories.each do |teaching_category| %>
      <tr>
        <td><%= teaching_category.label %></td>
        <td><%= link_to 'Show', teaching_category %></td>
        <td><%= link_to 'Edit', edit_teaching_category_path(teaching_category) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
