<p id="notice"><%= notice %></p>

<h1><%= @teaching_categories.count %> catégories</h1>

<%= pie_chart @teaching_categories.map{|teaching_category| ["#{teaching_category.label}", teaching_category.hours] } %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Label</th>
      <th>Heures</th>
    </tr>
  </thead>

  <tbody>
    <% @teaching_categories.each do |teaching_category| %>
      <tr>
        <td><%= link_to teaching_category, teaching_category %></td>
        <td><%= teaching_category.hours %></td>
      </tr>
    <% end %>
  </tbody>
</table>
