<%= link_to 'Synchroniser avec Google', promotion_events_sync_path(promotion_id: @promotion.id), method: :post, class: 'btn btn-default btn-lg' %>

<h2>Evénements Google Calendar bruts</h2>
<p><%= @promotion.calendar_events.count %> événements importés de Google</p>
<table class="table">
  <thead>
    <tr>
      <th>Cours</th>
      <th>Description</th>
      <th>Personnes</th>
      <th>Date</th>
      <th>Heures</th>
    </tr>
  </thead>
  <tbody>
    <% @promotion.calendar_events.each do |event| %>
      <tr>
        <td><%= event.summary %></td>
        <td><%= event.description %></td>
        <td><%= raw event.attendee.map { |attendee| attendee.to_s.remove('mailto:') }.join '<br>' %></td>
        <td><%= event.dtstart.strftime "%d/%m/%Y" %></td>
        <td><%= (event.dtend - event.dtstart) / 60 / 60 %></td>
      </tr>
    <% end unless @promotion.calendar_events.nil? %>
  </tbody>
</table>

<h2>Evénements Google Calendar importés</h2>
<p><%= @promotion.events.count %> événements traités</p>
<table class="table">
  <thead>
    <tr>
      <th>Module</th>
      <th>Date</th>
      <th>Type</th>
      <th>Heures</th>
      <th>Heures étudiants</th>
      <th>Heures enseignant</th>
      <th>Personnes</th>
    </tr>
  </thead>
  <tbody>
    <% @promotion.events.each do |event| %>
      <tr>
        <td><%= event.teaching_module %></td>
        <td><%= event.date.strftime "%d/%m/%Y" %></td>
        <td><%= event.kind.to_s.upcase %></td>
        <td><%= number_to_human event.duration %></td>
        <td><%= number_to_human event.student_hours %></td>
        <td><%= number_to_human event.teacher_hours %></td>
        <td>
          <% event.users.each do |user| %>
            <%= link_to user, user %><br>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>