<h2><%= @promotion.calendar_events.count %> événements Google Calendar bruts</h2>
<table class="table">
  <thead>
    <tr>
      <th>Cours</th>
      <th>Description</th>
      <th>Personnes</th>
      <th>Date</th>
      <th>Heures</th>
    </tr>
  </thead>
  <tbody>
    <% @promotion.calendar_events.each do |event| %>
      <tr>
        <td><%= event.summary %></td>
        <td><%= event.description %></td>
        <td><%= raw event.attendee.map { |attendee| attendee.to_s.remove('mailto:') }.join '<br>' %></td>
        <td><%= event.dtstart.strftime "%d/%m/%Y" %></td>
        <td><%= (event.dtend - event.dtstart) / 60 / 60 %></td>
      </tr>
    <% end unless @promotion.calendar_events.nil? %>
  </tbody>
</table>
