<%= link_to 'Modifier', edit_promotion_path(@promotion), class: 'btn btn-primary btn-sm' if can? :edit, @promotion %>

<p>
  Cette promotion est en première année en <%= link_to @promotion.first_year, @promotion.first_year %>, et en seconde année en <%= link_to @promotion.second_year, @promotion.second_year %>.<br>
</p>

<%= link_to 'Projets', promotion_projects_path(promotion_id: @promotion.id), class: 'btn btn-primary btn-lg' %>
<%= link_to 'Modules', promotion_teaching_modules_path(promotion_id: @promotion.id), class: 'btn btn-primary btn-lg' %>
<%= link_to 'EDT: événements bruts', promotion_events_path(promotion_id: @promotion.id), class: 'btn btn-primary btn-lg' %>
<%= link_to 'EDT: événements importés', promotion_events_imported_path(promotion_id: @promotion.id), class: 'btn btn-primary btn-lg' %>
<%= link_to 'EDT: Synchroniser avec Google Calendar', promotion_events_sync_path(promotion_id: @promotion.id), method: :post, class: 'btn btn-primary btn-lg' if can? :edit, @promotion %>
