<%= link_to 'Edit', edit_promotion_path(@promotion), class: 'btn btn-primary btn-xs' if can? :edit, @promotion %>

<p>Toute cette page est exprimée en heures étudiant, sous la forme "Heures totales (heures CM / heures TD / heures TP)</p>



<% @semesters.each do |semester| %>
  <h2><%= link_to semester, semester %></h2>
  <p>
    <%= semester.expected_student_hours.round %> PPN /
    <%= @promotion.involvements.in_semester(semester).sum(:student_hours).round %> maquette / 
    <%= @promotion.events.in_semester(semester).sum(:student_hours).round %> EDT
  </p>
  <div id="semester-<%= semester.id %>"></div></td>
  <script type="text/javascript">
    $(function () {
      $('#semester-<%= semester.id %>').highcharts({
          chart: { type: 'bar', height: 150 },
          title: null,
          xAxis: { categories: ['PPN', 'Planifié', 'EDT'], tickWidth: 0 },
          yAxis: { min: 0, title: null },
          tooltip: { backgroundColor: 'white', valueSuffix: ' heures' },
          plotOptions: { series: { stacking: 'normal', dataLabels: { enabled: false } } },
          legend: { enabled: false },
          credits: { enabled: false },
          series: [
            { 
              name: 'TP', 
              data: [
                <%= semester.student_hours_tp %>, 
                <%= @promotion.involvements.in_semester(semester).sum(:student_hours_tp) %>,
                <%= @promotion.events.tp.in_semester(semester).sum(:student_hours) %>
                ]
              }, 
            { 
              name: 'TD', 
              data: [
                <%= semester.student_hours_td %>, 
                <%= @promotion.involvements.in_semester(semester).sum(:student_hours_td) %>,
                <%= @promotion.events.td.in_semester(semester).sum(:student_hours) %>
                ] 
              }, 
            { 
              name: 'CM', 
              data: [
                <%= semester.student_hours_cm %>, 
                <%= @promotion.involvements.in_semester(semester).sum(:student_hours_cm) %>,
                <%= @promotion.events.cm.in_semester(semester).sum(:student_hours) %>
              ] 
            }
            ]
      });
  });
  </script>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nom</th>
        <th>PPN</th>
        <th>Maquette</th>
        <th>PPN vs Maquette</th>
        <th>EDT</th>
        <th>Maquette vs EDT</th>
      </tr>
    </thead>
    <tbody>
      <% semester.teaching_modules.each do |teaching_module| %>
        <% 
        ppn = teaching_module.expected_student_hours.round
        maquette = @promotion.involvements.where(teaching_module: teaching_module).sum(:student_hours).round
        edt = @promotion.events.where(teaching_module: teaching_module).sum(:student_hours).round
        %>
        <tr>
          <td><%= link_to teaching_module.full_name, teaching_module %></td>
          <td>
            <%= ppn %>
            (<%= teaching_module.hours_cm %> /
            <%= teaching_module.hours_td %> /
            <%= teaching_module.hours_tp %>)
          </td>
          <td>
            <%= maquette %>
            (<%= @promotion.involvements.where(teaching_module: teaching_module).sum(:student_hours_cm).round %> /
            <%= @promotion.involvements.where(teaching_module: teaching_module).sum(:student_hours_td).round %> /
            <%= @promotion.involvements.where(teaching_module: teaching_module).sum(:student_hours_tp).round %>)
          </td>
          <%= render 'application/td_delta', value: maquette, reference: ppn %>
          <td>
            <%= edt %>
            (<%= @promotion.events.cm.where(teaching_module: teaching_module).sum(:student_hours).round %> /
            <%= @promotion.events.td.where(teaching_module: teaching_module).sum(:student_hours).round %> /
            <%= @promotion.events.tp.where(teaching_module: teaching_module).sum(:student_hours).round %>)
            </td>
          <%= render 'application/td_delta', value: edt, reference: maquette %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h2>Evénements Google Calendar bruts</h2>

<table class="table">
  <thead>
    <tr>
      <th>Cours</th>
      <th>Description</th>
      <th>Personnes</th>
      <th>Date</th>
      <th>Heures</th>
    </tr>
  </thead>
  <tbody>
    <% @promotion.calendar_events.each do |event| %>
      <tr>
        <td><%= event.summary %></td>
        <td><%= event.description %></td>
        <td><%= event.attendee.map { |attendee| attendee.to_s.remove('mailto:') }.join '<br>' %></td>
        <td><%= event.dtstart.strftime "%d/%m/%Y" %></td>
        <td><%= (event.dtend - event.dtstart) / 60 / 60 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Evénements Google Calendar importés</h2>

<table class="table">
  <thead>
    <tr>
      <th>Module</th>
      <th>Type</th>
      <th>Date</th>
      <th>Durée</th>
      <th>Personnes</th>
    </tr>
  </thead>
  <tbody>
    <% @promotion.events.each do |event| %>
      <tr>
        <td><%= event.teaching_module %></td>
        <td><%= event.kind.to_s.upcase %></td>
        <td><%= event.date.strftime "%d/%m/%Y" %></td>
        <td><%= event.student_hours %></td>
        <td>
          <% event.users.each do |user| %>
            <%= link_to user, user %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>