<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to root_path, class:'navbar-brand logo' do %>
      <%= image_tag 'mmi-bordeaux.png' %>
      <p>Teach</p>
    <% end %>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Tableau de bord', root_path %></li>
        <li><%= link_to 'Promotions', promotions_path %></li>
        <li><%= link_to 'Années', years_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pédagogie <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Equipe', users_path %></li>
            <li><%= link_to 'Champs', fields_path %></li>
            <li><%= link_to 'Projets', projects_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Archives <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Services', users_summary_path %></li>
            <li><%= link_to 'Intervenants', budgets_users_path %></li>
            <li><%= link_to 'Modules', budgets_teaching_modules_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">PPN <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Semestres', semesters_path %></li>
            <li><%= link_to 'Unités d\'enseignement', teaching_units_path %></li>
            <li><%= link_to 'Sujets', teaching_subjects_path %></li>
            <li><%= link_to 'Catégories', teaching_categories_path %></li>
            <li><%= link_to 'Modules', teaching_modules_path %></li>
            <li><%= link_to 'Objectifs', objectives_path %></li>
            <li><%= link_to 'Compétences', competencies_path %></li>
            <li><%= link_to 'Mots-clés', keywords_path %></li>
          </ul>
        </li>
        <li><%= link_to('Déconnexion', destroy_user_session_path, method: :delete) %> </li>
      </ul>
    </div>
  </div>
</div>