<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <div class="container-fluid">
    <%= link_to dashboard_path, class:'navbar-brand logo' do %>
      <%= image_tag 'mmi-bordeaux.png' %>
      <p>Teach</p>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><%= link_to 'Tableau de bord', dashboard_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Années', years_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Promotions', promotions_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Equipe', users_path, class: 'nav-link' %></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Divers</a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><%= link_to 'Discussion', root_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'Services', users_summary_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'Intervenants', budgets_users_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'Modules', budgets_teaching_modules_path, class: 'dropdown-item' %></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">PN</a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><%= link_to 'Semestres', semesters_path, class: 'dropdown-item' %></li>
            <li><%= link_to 'Ressources', resources_path, class: 'dropdown-item' %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
