<p id="notice"><%= notice %></p>

<h1><%= @fields.count %> champs</h1>

<%= link_to 'Nouveau champ', new_field_path %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Label</th>
      <th>Modules</th>
      <th>Projets</th>
      <th>Heures cumulées</th>
    </tr>
  </thead>
  <tbody>
    <% @fields.each do |field| %>
      <tr>
        <td><%= link_to field, field %></td>
        <td>
          <ul class="list-inline">
            <% field.teaching_modules.each do |teaching_module| %>
              <li><%= link_to teaching_module, teaching_module, class: 'btn btn-default btn-xs' %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul class="list-inline">
            <% field.projects.each do |project| %>
              <li><%= link_to project, project, class: 'btn btn-default btn-xs' %></li>
            <% end %>
          </ul>
        </td>
        <td><%= field.hours %></td>
      </tr>
    <% end %>
  </tbody>
</table>