<% unless @field.parent.nil? %>
  <p><%= link_to @field.parent, @field.parent %> / </p>
<% end %>
<h1><%= @field %></h1>
<%= link_to 'Modifier', edit_field_path(@field) if can? :edit, @field %>

<h2>Sous-champs</h2>
<%= render partial: 'table', locals: {fields: @field.children.sorted} %>

<h2>Modules</h2>
<%= render partial: 'teaching_modules/inline_list', locals: {teaching_modules: @field.teaching_modules_including_children} %>

<h2>Mots clés</h2>
<%= render partial: 'keywords/inline_list', locals: {keywords: @field.keywords_including_children} %>

<h2>Personnes</h2>
<%= render partial: 'users/inline_list', locals: {users: @field.users} %>
