<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @field.label %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @field.parent_id %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
