<p>
  La promotion <%= link_to @year.first_year_promotion, @year.first_year_promotion %> est en première année, 
  La promotion <%= link_to @year.second_year_promotion, @year.second_year_promotion %> est en seconde année.
  <% if can? :edit, @year.first_year_promotion %>
    Pour actualiser l'EDT depuis Google, cliquez sur la promotion concernée.
  <% end %>
</p>

<div>
  <%= link_to 'Projets', year_projects_path(year_id: @year.id), class: 'btn btn-default btn-lg' %>
  <%= link_to 'Interventions', year_involvements_path(year_id: @year.id), class: 'btn btn-default btn-lg' %>
  <%= link_to 'Modules', year_teaching_modules_path(year_id: @year.id), class: 'btn btn-default btn-lg' %>
  <%= link_to 'Equipe', year_users_path(year_id: @year.id), class: 'btn btn-default btn-lg' %>
  <%= link_to 'Semestres (couverture des objectifs)', year_semesters_path(year_id: @year.id), class: 'btn btn-default btn-lg' %>
</div>

