<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title.nil? ? 'MMI Bordeaux' : @title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'favicon.png', :rel => 'shortcut icon' %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= render 'application/nav' %>
    <%= render 'application/jumbotron' %>
    <main class="container-fluid">
      <%= render 'application/breadcrumb' %>
      <%= yield %>
    </main>
    <%= render 'application/footer' %>
    <%= render 'application/toastr' %>
  </body>
</html>
