<p><%= @student_hours %> heures étudiants, <%= @teacher_hours %> heures enseignant</p>

<% Semester.all.each do |semester| %>
  <h2><%= semester %></h2>

  <h3>Heures</h3>
  <p>
    <%= semester.expected_student_hours.round %> PPN /
    <%= @year.involvements.in_semester(semester).sum(:student_hours).round %> maquette / 
    <%= @year.events.in_semester(semester).sum(:student_hours).round %> EDT
  </p>
  <p>En heures étudiant, sous la forme "Heures totales (heures CM / heures TD / heures TP)</p>

  <div id="semester-<%= semester.id %>"></div></td>
  <script type="text/javascript">
    $(function () {
      $('#semester-<%= semester.id %>').highcharts({
          chart: { type: 'bar', height: 150 },
          title: null,
          xAxis: { categories: ['PPN', 'Planifié', 'EDT'], tickWidth: 0 },
          yAxis: { min: 0, title: null },
          tooltip: { backgroundColor: 'white', valueSuffix: ' heures' },
          plotOptions: { series: { stacking: 'normal', dataLabels: { enabled: false } } },
          legend: { enabled: false },
          credits: { enabled: false },
          series: [
            { 
              name: 'TP', 
              data: [
                <%= semester.student_hours_tp %>, 
                <%= @year.involvements.in_semester(semester).sum(:student_hours_tp) %>,
                <%= @year.events.tp.in_semester(semester).sum(:student_hours) %>
                ]
              }, 
            { 
              name: 'TD', 
              data: [
                <%= semester.student_hours_td %>, 
                <%= @year.involvements.in_semester(semester).sum(:student_hours_td) %>,
                <%= @year.events.td.in_semester(semester).sum(:student_hours) %>
                ] 
              }, 
            { 
              name: 'CM', 
              data: [
                <%= semester.student_hours_cm %>, 
                <%= @year.involvements.in_semester(semester).sum(:student_hours_cm) %>,
                <%= @year.events.cm.in_semester(semester).sum(:student_hours) %>
              ] 
            }
            ]
      });
  });
  </script>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nom</th>
        <th>PPN</th>
        <th>Maquette</th>
        <th>PPN vs Maquette</th>
        <th>EDT</th>
        <th>Maquette vs EDT</th>
        <th>PPN vs EDT</th>
      </tr>
    </thead>
    <tbody>
      <% semester.teaching_modules.each do |teaching_module| %>
        <% 
        program = teaching_module.expected_student_hours.round
        planned = @year.involvements.where(teaching_module: teaching_module).sum(:student_hours).round
        scheduled = @year.events.where(teaching_module: teaching_module).sum(:student_hours).round
        %>
        <tr>
          <td><%= link_to teaching_module.full_name, [@year, teaching_module] %></td>
          <td>
            <%= program %>
            (<%= teaching_module.hours_cm %> /
            <%= teaching_module.hours_td %> /
            <%= teaching_module.hours_tp %>)
          </td>
          <td>
            <%= planned %>
            (<%= @year.involvements.where(teaching_module: teaching_module).sum(:student_hours_cm).round %> /
            <%= @year.involvements.where(teaching_module: teaching_module).sum(:student_hours_td).round %> /
            <%= @year.involvements.where(teaching_module: teaching_module).sum(:student_hours_tp).round %>)
          </td>
          <%= render 'application/td_delta', value: planned, reference: program %>
          <td>
            <%= scheduled %>
            (<%= @year.events.cm.where(teaching_module: teaching_module).sum(:student_hours).round %> /
            <%= @year.events.td.where(teaching_module: teaching_module).sum(:student_hours).round %> /
            <%= @year.events.tp.where(teaching_module: teaching_module).sum(:student_hours).round %>)
            </td>
          <%= render 'application/td_delta', value: scheduled, reference: planned %>
          <%= render 'application/td_delta', value: scheduled, reference: program %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
