<div class="row">
  <div class="col-md-3">
    <div class="btn btn-block btn-default">
      <h2>Maquette <%= @year.planned_hours_for_teaching_module(@teaching_module, :student_hours).round %></h2>
    </div>
  </div>
  <div class="col-md-3">
    <div class="btn btn-block btn-default">
      <h2>PPN <%= @teaching_module.expected_student_hours.round %></h2>
    </div>
  </div>
  <div class="col-md-6">
    <div class="btn btn-block btn-<%= @teaching_module.student_hours_delta < 0 ? 'danger' : 'success' %>">
      <h2>Delta <%#= @teaching_module.student_hours_delta.round # FIXME %>%</h2>
    </div>
  </div>
</div>

<hr/>

<div id="hours"></div></td>
<script type="text/javascript">
  $(function () {
    $('#hours').highcharts({
        chart: { type: 'bar', height: 150 },
        title: null,
        xAxis: { categories: ['PPN', 'Planifié', 'EDT'], tickWidth: 0 },
        yAxis: { min: 0, title: null },
        tooltip: { backgroundColor: 'white', valueSuffix: ' heures' },
        plotOptions: { series: { stacking: 'normal', dataLabels: { enabled: false } } },
        legend: { enabled: false },
        credits: { enabled: false },
        series: [
          { 
            name: 'TP', 
            data: [
              <%= @teaching_module.hours_tp %>, 
              <%= @year.planned_hours_for_teaching_module(@teaching_module, :hours_tp) %>,
              <%= @year.scheduled_hours_for_teaching_module(@teaching_module, :tp) %>
            ] 
          }, 
          { 
            name: 'TD', 
            data: [
              <%= @teaching_module.hours_td %>, 
              <%= @year.planned_hours_for_teaching_module(@teaching_module, :hours_td) %>,
              <%= @year.scheduled_hours_for_teaching_module(@teaching_module, :td) %>
            ] 
          }, 
          { 
            name: 'CM', 
            data: [
              <%= @teaching_module.hours_cm %>, 
              <%= @year.planned_hours_for_teaching_module(@teaching_module, :hours_cm) %>,
              <%= @year.scheduled_hours_for_teaching_module(@teaching_module, :cm) %>
              ] 
            }
          ]
    });
});
</script>

<h2>Maquette</h2>

<%= link_to 'Planifier une intervention', new_year_involvement_path(year_id: @year.id, teaching_module_id: @teaching_module.id), class: 'btn btn-primary btn-xs' if can? :create, Involvement %>
<table class="table">
  <thead>
    <tr>
      <th>Promotion</th>
      <th>Personne</th>
      <th>Heures étudiant total</th>
      <th>CM</th>
      <th>TD</th>
      <th>TP</th>
      <th>Heures enseignant</th>
      <th>Note</th>
      <th>Projet</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @year.involvements_for_teaching_module(@teaching_module).includes(:user).reorder('users.last_name').each do |involvement| %>
    <tr>
      <td><%= link_to involvement.promotion, involvement.promotion %></td>
      <td><%= link_to involvement.user, involvement.user unless involvement.user.nil? %></td>
      <td><%= involvement.student_hours %></td>
      <td><%= involvement.hours_cm %></td>
      <td><%= involvement.hours_td %> <span class="label label-default">x <%= involvement.multiplier_td %></span></td>
      <td><%= involvement.hours_tp %> <span class="label label-default">x <%= involvement.multiplier_tp %> / <%= involvement.groups_tp %></span></td>
      <td><%= involvement.teacher_hours %></td>
      <td style="max-width: 200px"><%= simple_format involvement.description %></td>
      <td><%= link_to involvement.project, [@year, involvement.project] unless involvement.project.nil? %></td>
      <td><%= link_to 'Modifier', edit_year_involvement_path(year_id: @year.id, id: involvement.id), class: 'btn btn-primary btn-xs' if can? :edit, involvement %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2>EDT</h2>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Heures</th>
      <th>Heures étudiants</th>
      <th>Heures enseignant</th>
      <th>Personnes</th>
    </tr>
  </thead>
  <tbody>
    <% @teaching_module.events.each do |event| %>
      <tr>
        <td><%= event.date.strftime "%d/%m/%Y" %></td>
        <td><%= event.kind.to_s.upcase %></td>
        <td><%= number_to_human event.duration %></td>
        <td><%= number_to_human event.student_hours %></td>
        <td><%= number_to_human event.teacher_hours %></td>
        <td>
          <% event.users.each do |user| %>
            <%= link_to user, user %><br>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'En savoir plus sur ce module', @teaching_module, class: 'btn btn-default' %>
